<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::body})">

<body>

<h2>Gestión de usuarios</h2>

<a th:href="@{/admin/usuarios/nuevo}">Crear usuario</a>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
    </tr>

    <tr th:each="u : ${usuarios}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.nombre} + ' ' + ${u.apellido}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.rol.nombre}"></td>
        <td>
            <a th:href="@{'/admin/usuarios/editar/' + ${u.id}}">Editar</a> |
            <a th:href="@{'/admin/usuarios/eliminar/' + ${u.id}}">Eliminar</a>
        </td>
    </tr>

</table>

</body>
</html>
